@{
	Layout = "_LayoutDeslogado";
	ViewData["Title"] = "Pagina Restrita";
}

<p>Você não tem persmissão para acessar essa funcionalidade, <a asp-action="Index" asp-controller="Home">Clique aqui</a> para voltar para a Home.</p>

