@model ContatoModel
@{
	ViewData["Title"] = "Adiconar Contato";
}

<div>
	<br>
	<h1 class="text-center">
		Cadastrar Contato
	</h1>

	<form asp-controller="Contato" asp-action="Adicionar" method="post">
		<div class="mb-3">
			<label for="Input1" class="form-label">Nome</label>
			<input asp-for="Nome" type="text" class="form-control" placeholder="Digite o nome do contato">
			@Html.ValidationMessageFor(x => x.Nome)
		</div>
		<div class="mb-3">
			<label for="Input2" class="form-label">Email</label>
			<input asp-for="Email" type="text" class="form-control" placeholder="Digite o email do contato">
			@Html.ValidationMessageFor(x => x.Email)
		</div>
		<div class="mb-3">
			<label for="Input3" class="form-label">Contato</label>
			<input asp-for="Celular" type="text" class="form-control" placeholder="Digite o celuluar do contato">
			@Html.ValidationMessageFor(x => x.Celular)
		</div>
		<br>
		<div class="d-grid gap-2">
			<button type="submit" class="btn btn-outline-success">Adicionar</button>
			<a type="button" class="btn btn-outline-dark" type="button" asp-controller="Contato" asp-action="Index">Voltar</a>
		</div>
	</form>
</div>
