@{
	ViewData["Title"] = "Editar Contato";
}

<div>
	<br>
	<h1 class="text-center">
		Editar contato
	</h1>
	<br>

	<form>
		<div class="mb-3">
			<label for="Input1" class="form-label">Nome</label>
			<input type="text" class="form-control" placeholder="Koon Aguero">
		</div>
		<div class="mb-3">
			<label for="Input2" class="form-label">Email</label>
			<input type="email" class="form-control" placeholder="name@example.com">
		</div>
		<div class="mb-3">
			<label for="Input3" class="form-label">Contato</label>
			<input type="text" class="form-control" placeholder="135">
		</div>
		<br>
		<div class="d-grid gap-2">
			<button type="submit" class="btn btn-outline-dark">Editar</button>
			<a type="button" class="btn btn-outline-secondary" type="button" asp-controller="Contato" asp-action="Index">Voltar</a>
		</div>
	</form>
</div>
</div>